
body{
    background-color: aquamarine;
    color: gray;
    font-family: Arial;
}
h1{
    text-align: center;
    color:blue
}
h2{
    text-align: center;
    color:mediumorchid
}
p{
    margin: 20px;
    font-size: 18px
}
a{
    color: red
}