
body{
    background-color: aquamarine;
    color: gray;
    font-family: Arial;
}
h1{
    text-align: center;
    color:black
}
pre {
    background-color: rgb(194, 120, 152);
    color: black;
    font-family: Arial;
}
a{
    color: red
}