
body{
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    font-family: Arial;
}
h1{
    text-align: center;
    color:blue
}
p{
    margin: 20px;
    font-size: 18px
}
table{
    margin: 20px auto;
    border-collapse: collapse;
    color: gray;
}
a{
    color: red
}