
body{
    background-color: aquamarine;
    color: black;
    font-family: Arial;
}
h1{
    text-align: center;
    color:rgb(59, 245, 100)
}
p{
    margin: 20px;
    font-size: 18px
}
li strong{
    color: rgb(75, 59, 245)
}
a{
    color: red
}